.task_wrapper{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 100px auto;
}

.task{
    width: 10px;
    height: 10px;
    background-color: red;
}

.txt{
  font-family: cursive;
  color: rgb(4, 4, 78);
}